.header{
	background-color: #344;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	height: 40px;
	position: fixed;
	top: 0;
	z-index: 500;
	
}
.header h3{
	color: white;
	width: 10%;
	font-size: 20px;
}
.header-1 select{
	background-color: transparent;
	color: white;
	width: 150px;
}

.header-2 ul{
	list-style-type: none;
	width: 400px;


}
.header-2 ul li{
	display: inline-block;
}

.header-2 ul li a{
	color: white;
	padding: 20px;
	text-decoration: none;
	transition: 1s;
}
.header-2 ul li a:hover{
	color: #ff3;
}
nav{
	height: 80px;
	margin-top: 40px;
	position: fixed;
}
.color{
	color: #2ED61D ;
	font-weight: bold;
}
body{
	/*background-image: url('../images/bg.jfif');*/
	background-position: center;
	background-size: cover;
}
.logo{

}
.card{

}

ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
footer{
	background-color: #000;
	color: white;
	padding: 10px;
}